<br><div class="container">
  <div class="row">
    <div class="col-xs-6" >
      
     <input type="text" #filterInput class="form-control" (input)="onChange()" placeholder="search...">
     
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4" *ngFor="let index of filteredIndex">
      <div *ngIf='filteredPhotos[index]'>
        <img [src]='filteredPhotos[index].imagepath' alt="{filteredPhotos[index].description}}" style="max-height:200px" class="center-block">
        <p>{{filteredPhotos[index].description}} (Image number {{filteredPhotos[index].id}})</p>
      </div>
    
    </div>
    <hr>
<div class="row">
  <div class="col-xs-12">
    <div class="button-group" class="text-center">
      <button class="btn btn-primary pull-left" (click)="onPrevious()">Previous</button>
      <button class="btn btn-default" *ngFor="let page of pages;let i of index" (click)="onPage(i)" [ngClass]="selectedPage==i ? 'btn-primary' : 'btn-default'">{{i}}</button>
      <button class="btn btn-primary pull-right" (click)="onNext()" >Next</button>
  </div>
    
  </div>
</div>
  </div>